<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Sound</h1>
<form method="post" enctype="multipart/form-data" action="{% url "upload" %}">
    {%  csrf_token %}
    <input type="file" name="audio">
    <select><option>Choose instrument</option>
        <option>Piano</option>
        <option>Violine</option>
        <option>Guitar</option>
    </select>

    <button type="submit">Upload</button>
  </form>
</body>
</html>